<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RistoranteDigitaleClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RistoranteDigitaleClient.Properties.Settings>
            <setting name="server_url" serializeAs="String">
                <value>http://localhost:3000</value>
            </setting>
            <setting name="mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="printer" serializeAs="String">
                <value />
            </setting>
            <setting name="logo" serializeAs="String">
                <value />
            </setting>
            <setting name="header" serializeAs="String">
                <value>Circolo Ricreativo Saccone</value>
            </setting>
            <setting name="footer" serializeAs="String">
                <value>Buon appetito!</value>
            </setting>
            <setting name="sponsor" serializeAs="String">
                <value />
            </setting>
            <setting name="operatorName" serializeAs="String">
                <value>Giovanni</value>
            </setting>
            <setting name="cashNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="qrCode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="orderNumber" serializeAs="String">
                <value>True</value>
            </setting>
        </RistoranteDigitaleClient.Properties.Settings>
    </userSettings>
</configuration>